* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     min-height: 100vh;
    background: linear-gradient(#80FFDB, #5390D9);
    margin: 0 auto;
}
h1{
    text-align: center;
}
.center{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
}
#container{
  width: 60%;
}